{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Tickets</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Prioridade</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td><a href="{{ url_for('tickets.detalhe', ticket_id=ticket.id) }}">{{ ticket.title }}</a></td>
                <td>{{ ticket.customer.name }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}